<div class="pt-8">
<%= form.submit t('recipes.new.new_recipe'), data: { loading_target: "submit" },
    class: "w-full bg-gradient-to-r from-blue-600 to-emerald-600 hover:from-blue-500 hover:to-emerald-500 text-white font-black py-5 px-8 rounded-2xl text-xl transition-all transform hover:scale-[1.02] shadow-2xl cursor-pointer" %>
</div>