<div class="pt-8">
  <%= form.submit @recipe.persisted? ? t('recipes.edit.update_recipe') : t('recipes.new.new_recipe'),
      data: { loading_target: "submit" },
      class: "w-full bg-white text-black font-bold py-5 px-8 rounded-2xl text-xl transition-all transform hover:scale-[1.02] shadow-xl border border-black hover:bg-black hover:text-white cursor-pointer" %>
</div>