<footer class="bg-gray-900 text-gray-100 shadow-md sticky top-0 z-50">
  <div class="container mx-auto flex items-center justify-between px-6 py-4">
        <!-- ナビゲーション -->
    <nav class="container mx-auto flex justify-center items-center py-4 space-x-50">
      <%= link_to "利用規約", "#", class: "hover:text-gray-300 transition-colors duration-200" %>
      <%= link_to "プライバシーポリシー", "#", class: "hover:text-gray-300 transition-colors duration-200" %>
      <%= link_to "お問い合わせ", "#", class: "hover:text-gray-300 transition-colors duration-200" %>
    </nav>
  </div>
</footer>